<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.upc.base.mapper.EquipParamMapper">
    <resultMap id="BaseResultMap" type="EquipParam">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="threshold_type" property="thresholdType" jdbcType="VARCHAR"/>
        <result column="threshold_value" property="thresholdValue"/>
        <result column="model" property="model"/>
    </resultMap>

    <sql id="baseColumn">
        id,threshold_type,threshold_value,model
    </sql>


</mapper>